{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/articleEdite.css') }}">
{% endblock %}

{% block title %}Modifier un article
{% endblock %}

{% block body %}
	<div class="head">
		{{ include ('_header.html.twig') }}
	</div>

	<div class="corp">

		<h1>Modifier un article</h1>

		{{ form_start(form) }}
		{{ include('article/_form.html.twig') }}
		<button type="submit">Modifier</button>
		<button type="reset">Annuler</button>
		{{ form_end(form) }}

		<a href="{{ path('app_article') }}" class="return-link">Retour</a>
	</div>
{% endblock %}
