{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/articlee.css') }}">
{% endblock %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <div class="head">
        {{ include ('_header.html.twig') }}
    </div>

    <div class="corp">
        <h1>Liste des articles</h1>

        <div class="card-container">
            {% for article in articles %}
                <div class="card">
                    <div class="card-image">
                        <!--<img src="uploads/articles/{{ article.nom }}.jpg">-->
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ article.nom }}</h2>
                        <p class="card-price">Prix: {{ article.price }}</p>
                        <p class="card-quantity">Quantité: {{ article.quantite }}</p>
                        <p class="card-description">{{ article.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="modifier">Modifier</a>
                        <a href="{{ path('app_article_delete', {'id': article.id}) }}"class="supprimer">Supprimer</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
