{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<h1>Liste des articles</h1>

	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Photo</th>
				<th>Nom</th>
				<th>Prix</th>
				<th>Quantité</th>
				<th>Description</th>
				<th>Modifier</th>
				<th>Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.id }}</td>
					<td><!--<img src="uploads/articles/{{ article.nom }}.jpg"--></td>
					<td>{{ article.nom }}</td>
					<td>{{ article.price }}</td>
					<td>{{ article.quantite }}</td>
					<td>{{ article.description }}</td>
					<td>
						<!--{{ dump(article.id) }}-->
						<a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a>
					</td>
					<td>
						<a href="{{ path('app_article_delete', {'id': article.id}) }}" onclick="return confirm('Supprimer ?')">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
